body {
  background-color: #111;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px;
}

h1, h2, h3{
  font-family: 'Playfair Display', serif;
}

.hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #222;
  margin-bottom: 60px;
}

.hero-label {
  color: #e0a020;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.hero-content h1 {
  font-size: 72px;
  line-height: 1.1;
  margin: 0 0 20px 0;
}

.hero-sub {
  color: #aaaaaa;
  font-size: 18px;
  max-width: 500px;
  line-height: 1.7;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
  gap: 16px;
}

.btn-primary {
  background-color: #e0a020;
  color: #111;
  padding: 12px 28px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #ffffff;
  text-decoration: none;
}

.btn-secondary {
  border: 1px solid #e0a020;
  color: #e0a020;
  padding: 12px 28px;
  border-radius: 6px;
  text-decoration: none;
}

.btn-secondary:hover {
  background-color: #e0a020;
  color: #111;
  text-decoration: none;
}

h1 {
  color: #e0a020;
  font-size: 48px;
  margin-bottom: 5px;
}

.tagline {
  color: #aaaaaa;
  font-size: 18px;
  margin-top: 0;
}

h2 {
  color: #e0a020;
  margin-top: 40px;
}

ul {
  line-height: 2;
}

a {
  color: #e0a020;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.card-container {
  display: flex;
  gap: 16px;
  margin-top: 20px;
}

.card {
  background-color: #1e1e1e;
  border: 1px solid #e0a020;
  border-radius: 8px;
  padding: 20px;
  flex: 1;
  transition: transform 0.2s, border-color 0.2s;
}

.card:hover {
  transform: translateY(-4px);
  border-color: #ffffff;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #333;
  margin-bottom: 40px;
}

.nav-logo{
  color: #e0a020;
  font-size: 20px;
  font-weight: bold;
}

.nav-links{
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0%;
  padding: 0%;
}

.nav-links a{
  color: #aaaaaa;
  text-decoration: none;
}

.nav-links a:hover{
  color: #ffffff;
}

@media (max-width: 600px) {
  nav{
    flex-direction: column; gap: 16px;
  text-align: center;
  }

  .card-container{
    flex-direction: column;
  }

  h1{
    font-size: 32px;
  }
}

button{
  background-color: #e0a020;
  color: #111;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 12px;
}

button:hover{
  background-color: #ffffff;
}

.skill {
  margin-bottom: 16px;
}

.skill p {
  margin-bottom: 6px;
  color: #aaaaaa;
}

.skill-bar {
  background-color: #1e1e1e;
  border-radius: 6px;
  height: 10px;
  width: 100%;
}

.skill-fill {
  background-color: #e0a020;
  height: 10px;
  border-radius: 6px;
  width: 0%;
  transition: width 1s ease;
}
